* {
  --principal-color: #3f51b5;
  --principal-color-darker: #29388a;
}

html, body {
  margin: 0;
  font-family: Montserrat;
  --background: #f5f5f5;
}

input[type="text"], input[type="password"], select, textarea, input[type="submit"], button {
  width: 100%;
  height: 40px;
  margin: 4px;
  color: gray;
  font-size: 18px;
  font-family: Montserrat;
  border: 2px solid #EBE9ED;
}

input[type="text"], select, textarea, input[type="password"] {
  padding-left: 8px;
  transition: 0.5s all;
}

select {
  width: calc(100% + 12px);
  height: 46px;
}

textarea {
  resize: none;
}

input[type="text"]:hover, input[type="password"]:hover, select:hover, textarea:hover,
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  border-color: var(--principal-color);
  color: var(--principal-color);
  font-weight: bold;
}

input:focus::-webkit-input-placeholder {
    color: var(--principal-color);
}

input[type="submit"], button {
  width: 80%;
  font-weight: bold;
  border: 0;
  background-color: var(--principal-color);
  color: white;
  transition: 0.5s background-color;
}

input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus {
  background-color: var(--principal-color-darker);
}

*:focus {
  outline: none;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header {
  width: calc(100% - 16px);
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 8px;
}

header h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 8px;
  font-weight: bold;
  text-align: center;
}

nav ul li a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  transition: color 0.5s;    
}

nav ul li a:hover {
  color: black;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* flex */
  align-items: center;
  justify-content: center;
}

.modal {
  margin-top: 70px;
  padding: 16px;
  width: calc(95% - 32px);
  max-width: 600px;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: relative;
  max-height: calc(90% - 70px);
  overflow: auto;
}

.modal-exit {
  color: gray;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s all;
}

.modal-exit:hover {
  color: black;
}