<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>AILab - {{ article.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url }}/css/styles.css">
    <link rel="stylesheet" href="{{ url }}/css/article.css">
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">


    <meta itemprop="name" content="AILab - {{ article.title }}">
    <meta name="description" content="{{ article.description }}"/>
    <meta name="language" content="PT">
    <meta name="author" content="Yuri Faria, yuri.yurifaria@gmail.com">
    <!-- <meta name="url" content="https://windows87.github.io/ailab/"> -->

    <meta property="og:title" content="AILab - {{ article.title }}"/>
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content="https://windows87.github.io/ailab/"/> -->
    <meta property="og:description" content="{{ article.description }}"/>
    <meta property="og:email" content="yuri.yurifaria@gmail.com"/>
    <meta property="og:image" content="{{ article.image }}" />

    <meta property="twitter:image" content="{{ article.image }}g" />
    <meta property="twitter:title" content="AILab - {{ article.title }}" />
    <meta property="twitter:description" content="{{ article.description }}" />
    <meta name="theme-color" content="#ffffff"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143577501-1"></script>
    <!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143577501-1');
    </script>
    -->
    
  </head>
  <body>
    <header>
      <div id="header">
        <h1>AILab</h1>
        <nav>
          <ul>
            <li><a href="{{ url }}">Início</a></li>
            <li class="dropdown">
              <button class="dropdown-button">Tópicos <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                {% for tag in tags %}
                  <a href="/list/tag/{{ tag.id }}">{{ tag.name }}</a>
                {% endfor %}
              </div>         
            </ul>
        </nav>
      </div>
    </header>

    <div class="principal-image" style="background-image: url({{ article.image }})"></div>

    <main>
      <article>
        <h2>{{ article.title }}</h2>
        <div class="tag-list">
          {% for tag in article.tags %}
            <a href="{{ url }}/list/tag/{{ tag.id }}"><div class="tag">{{ tag.name.upper() }}</div></a>
          {% endfor %}
          <a href="{{ url }}/list/author/{{ article.author.id }}"><div class="tag">{{ article.author.name.upper() }}</div></a>
          <div class="tag">{{ article.created_at.day }}/{{ months[article.created_at.month - 1] }}/{{ article.created_at.year }}</div>
        </div>

        {{ article.content | safe }}
      </article>

    <article id="about-author">
      <img src="{{ article.author.image }}" />
      <div>
        <h3>{{ article.author.name }}</h3>
        <p>{{ article.author.description }}</p>
        <span id="more-details">Ver mais Detalhes</span>
      </div>              
    </article>

      <div class="related-container">
        <h3>Artigos Relacionados</h3>
        <div class="related-list">
          {% for relatedArticle in relatedArticles %}
            <a class="article-a" href="{{ url }}/article/{{ relatedArticle.id }}">
              <div class="related-item">
               <h4>{{ relatedArticle.title }}</h4>
                <p>{{ relatedArticle.description }}</p>
                <b>{{ relatedArticle.created_at.day }} de {{ fullMonths[relatedArticle.created_at.month - 1] }} de {{ relatedArticle.created_at.year }}</b>
              </div>
            </a>
          {% endfor %}             
        </div> 
      </div>
      
      <div class="comments-container">
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = `{{ url }}/article/{{ article.id }}`;
        this.page.identifier = `{{ url }}/article/{{ article.id }}`;

        console.log(this.page);
        };

        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://deeplab.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>      
    </main>

    <div class="modal-background">
      <div class="modal">
        <i class="fa fa-close modal-exit"></i>
        <div class="basic-modal-info">
          <img src="{{ article.author.image }}" />
          <h3>{{ article.author.name }}</h3>
        </div>
        <p>{{ article.author.description }}.</p>
        <div class="icons-list">
          {% for socialnetwork in article.author.socialnetworks %}
            <a href="{{ socialnetwork.link }}" target="_blank"><img src="{{ url }}/img/icons/{{ socialnetwork.socialnetwork.icon }}" /></a>
          {%  endfor %}
        </div>
      </div>
    </div>

    <script src="{{ url }}/js/article.js"></script>
  </body>
</html>