<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DeepLab - Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/admin-styles.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">
 
    <meta itemprop="name" content="DeepLab - Grupo de Estudos">
    <meta name="description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta name="language" content="PT">
    <meta name="author" content="Yuri Faria, yuri.yurifaria@gmail.com">
    <meta name="url" content="https://windows87.github.io/deeplab/"> 

    <meta property="og:title" content="DeepLab - Grupo de Estudos"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://windows87.github.io/deeplab/"/>
    <meta property="og:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta property="og:email" content="yuri.yurifaria@gmail.com"/>
    <meta property="og:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />

    <meta property="twitter:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
    <meta property="twitter:title" content="DeepLab - Grupo de Estudos" />
    <meta property="twitter:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional" />
    <meta name="theme-color" content="#ffffff"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143577501-1"></script>
    <!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143577501-1');
    </script>
    -->    
  </head>

  <body>
    <header>
      <div id="header">
        <h1>DeepLab</h1>
        <nav>
          <ul>
            <li><a href="new-article.html">Novo Artigo</a></li>
            <li><a href="login.html">Sair</a></li>     
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div id="main">
        <div class="statistic-list">
          <div class="statistic-item">
            <span id="article-data">-</span>
            <span>Artigos</span>
          </div>
          
          <div class="statistic-item">
            <span id="views-data">-</span>
            <span>Views</span>
          </div>

          <div class="statistic-item">
            <span id="views-month-data">-</span>
            <span>Views desse Mês</span>
          </div>                    
        </div>
        
        <div class="statistic-list">
          <div class="statistic-item" id="views-item">
            <canvas id="canvas"></canvas>
          </div>
        </div>

        <div class="statistic-list">
            <div class="statistic-item" id="views-item">
              <canvas id="horizontal-canvas"></canvas>
            </div>
  
            <div class="statistic-item">
              <canvas id="chart-area"></canvas>
            </div>
        </div>

        <div class="statistic-list">
            <div class="statistic-item">
                <h4>Artigos com Maiores Views</h4>
                <div class="related-list" id="most-viewed-list"></div>              
            </div>
  
            <div class="statistic-item">
                <h4>Seus Artigos com Maiores Views</h4>
                <div class="related-list" id="most-viewed-list-by-author"></div>              
            </div>
        </div>        
      </div>
    </main>

    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
    <script src="js/crud.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>