<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DeepLab - Grupo de Estudos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">

    <meta itemprop="name" content="DeepLab - Grupo de Estudos">
    <meta name="description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta name="language" content="PT">
    <meta name="author" content="Yuri Faria, yuri.yurifaria@gmail.com">
    <meta name="url" content="https://windows87.github.io/deeplab/"> 

    <meta property="og:title" content="DeepLab - Grupo de Estudos"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://windows87.github.io/deeplab/"/>
    <meta property="og:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta property="og:email" content="yuri.yurifaria@gmail.com"/>
    <meta property="og:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />

    <meta property="twitter:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
    <meta property="twitter:title" content="DeepLab - Grupo de Estudos" />
    <meta property="twitter:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional" />
    <meta name="theme-color" content="#ffffff"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143577501-1"></script>
    <!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143577501-1');
    </script>
    -->
    
  </head>
  <body>
    <header>
      <div id="header">
        <h1>DeepLab</h1>
        <nav>
          <ul>
            <li><a href="index.html">Sobre Nós</a></li>
            <li class="dropdown">
              <button class="dropdown-button">Tópicos <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                {% for topic in topics %}
                  <a href="/list/topic/{{ topic.id }}">{{ topic.name }}</a>
                  <div class="dropdown-content-2">
                    {% for subtopic in topic.subtopics %}
                      {% if subtopic.in_dropdown %}
                        <a href="/list/subtopic/{{ subtopic.id }}">{{ subtopic.name }}</a>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>         
            </ul>
        </nav>
      </div>
    </header>
    
    <section class="side-to-side" id="first-text">
        <div class="side-left">
          <h2>DeepLab - Grupo de Estudos sobre IA</h2>
          <p>Grupo de estudos sobre Inteligência Artificial, abordando tópicos sobre Machine Learning, Deep Learning e Visão Computacional, buscando unir a teoria com a prática.</p>
        </div>

        <div class="side-right">
          <img src="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
        </div>
      </section>

    <main>
      <div id="main">
      <section>
        <h3>Iniciando com Machine Learning</h3>

        <div class="side-to-side">
          <div class="side-right">
            <img src="https://beltech2018.com/wp-content/uploads/2018/03/BelTech-2018-ICONS-Webside-Schedule-Machine-Learning.png" />
          </div>

          <div class="side-left normal-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non. Ut efficitur ex vel ante pretium convallis. Mauris euismod facilisis accumsan. Phasellus eu erat non ipsum facilisis molestie. Donec blandit lorem in erat condimentum suscipit. Nam libero massa, facilisis vel diam convallis, malesuada varius urna. Vivamus vitae purus felis. Nulla semper lacus ligula, vel tincidunt nulla efficitur vitae. Mauris pharetra mi ut est hendrerit ultricies. Vivamus lorem orci, mollis et porttitor vitae, posuere in ex. Fusce pellentesque, mi ut hendrerit euismod, est diam consequat ante, eu ultrices elit lorem eget leo.</p>
          </div>
        </div>

        <div class="related-container">
          <h3>Artigos</h3>
          <div class="related-list">
            <div class="related-item">
              <h4>Lorem ipsum</h4>
              <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
              <b>Julho de 2020</b>
            </div>

            <div class="related-item">
                <h4>Lorem ipsum</h4>
                <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
                <b>Julho de 2020</b>
              </div>
              
              <div class="related-item">
                <h4>Lorem ipsum</h4>
                <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
                <b>Julho de 2020</b>
              </div>              
          </div>
      </section>

      <section>
        <h3>Iniciando com Deep Learning</h3>

        <div class="side-to-side">
          <div class="side-left normal-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non. Ut efficitur ex vel ante pretium convallis. Mauris euismod facilisis accumsan. Phasellus eu erat non ipsum facilisis molestie. Donec blandit lorem in erat condimentum suscipit. Nam libero massa, facilisis vel diam convallis, malesuada varius urna. Vivamus vitae purus felis. Nulla semper lacus ligula, vel tincidunt nulla efficitur vitae. Mauris pharetra mi ut est hendrerit ultricies. Vivamus lorem orci, mollis et porttitor vitae, posuere in ex. Fusce pellentesque, mi ut hendrerit euismod, est diam consequat ante, eu ultrices elit lorem eget leo.</p>
          </div>

          <div class="side-right">
            <img src="https://www.pngkey.com/png/full/876-8762622_our-technology-deep-learning-icon-png.png" />
          </div>          
        </div>

        <div class="related-container">
          <h3>Artigos</h3>
          <div class="related-list">
            <div class="related-item">
              <h4>Lorem ipsum</h4>
              <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
              <b>Julho de 2020</b>
            </div>

            <div class="related-item">
                <h4>Lorem ipsum</h4>
                <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
                <b>Julho de 2020</b>
              </div>
              
              <div class="related-item">
                <h4>Lorem ipsum</h4>
                <p>Dolor sit amet, consectetur adipiscing elit. Duis mollis magna augue, nec maximus odio pretium non.</p>
                <b>Julho de 2020</b>
              </div>              
        </div>
      </section>

      <section>
        <h3>Tópicos</h3>
      
        <div class="table">
          <div class="table-row">
            <div class="table-item">Machine Learning</div>
            <div class="table-item">Deep Learning</div>
          </div>

          <div class="table-row">
            <div class="table-item">Algoritmos Supervisionados</div>
            <div class="table-item">Algoritmos Não Supervisionados</div>
          </div>

          <div class="table-row">
            <div class="table-item">Jogos</div>
            <div class="table-item">Algoritmos Genéticos</div>
          </div>

          <div class="table-row">
            <div class="table-item">Keras</div>
            <div class="table-item">Tensorflow</div>
          </div>

          <div class="table-row">
            <div class="table-item">Pesquisas</div>
            <div class="table-item">Estudo</div>
          </div>          
        </div>
      </section>
      </div>
    </main>
  </body>
</html>