<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>AILab - Grupo de Estudos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">

    <meta itemprop="name" content="AILab - Grupo de Estudos">
    <meta name="description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta name="language" content="PT">
    <meta name="author" content="Yuri Faria, yuri.yurifaria@gmail.com">
    <meta name="url" content="https://windows87.github.io/ailab/"> 

    <meta property="og:title" content="AILab - Grupo de Estudos"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://windows87.github.io/ailab/"/>
    <meta property="og:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta property="og:email" content="yuri.yurifaria@gmail.com"/>
    <meta property="og:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />

    <meta property="twitter:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
    <meta property="twitter:title" content="AILab - Grupo de Estudos" />
    <meta property="twitter:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional" />
    <meta name="theme-color" content="#ffffff"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143577501-1"></script>
    <!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143577501-1');
    </script>
    -->
    
  </head>
  <body>
    <header>
      <div id="header">
        <h1>AILab</h1>
        <nav>
          <ul>
            <li><a href="/about-us">Sobre Nós</a></li>
            <li class="dropdown">
              <button class="dropdown-button">Tópicos <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                {% for tag in tags %}
                  <a href="/list/tag/{{ tag.id }}">{{ tag.name }}</a>
                {% endfor %}
              </div>         
            </ul>
        </nav>
      </div>
    </header>
    
    <section class="side-to-side" id="first-text">
        <div class="side-left">
          <h2>AILab - Grupo de Estudos sobre IA</h2>
          <p>Grupo de estudos sobre Inteligência Artificial, abordando tópicos sobre Machine Learning, Deep Learning e Visão Computacional, buscando unir a teoria com a prática.</p>
        </div>

        <div class="side-right">
          <img src="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
        </div>
      </section>

    <main>
      <div id="main">
        <section>
          <h3>Iniciando com Python</h3>
  
          <div class="side-to-side">
            <div class="side-left normal-text">
              <p>Python é uma das maiores e mais promissoras linguagens do mundo. Com ela, podemos construir aplicações web com Flask ou Django e utilizar aprendizado de máquina e redes neurais. Python é muito utilizado desde pequenas empresas até gigantes da tecnologia, como Google, Spotify e Netflix.</p>
            </div>
  
            <div class="side-right">
              <img src="{{ url }}/img/py.png" />
            </div>          
          </div>
  
          <div class="related-container">
            {% if pythonArticles.count() %}
              <h3>Artigos</h3>
            {% endif %}
            <div class="related-list">
              {% for relatedArticle in pythonArticles %}
                <a class="article-a" href="{{ url }}/article/{{ relatedArticle.id }}">
                  <div class="related-item">
                   <h4>{{ relatedArticle.title }}</h4>
                    <p>{{ relatedArticle.description }}</p>
                    <b>{{ relatedArticle.created_at.day }} de {{ fullMonths[relatedArticle.created_at.month - 1] }} de {{ relatedArticle.created_at.year }}</b>
                  </div>
                </a>
              {% endfor %}              
            </div>
        </section>

      <section>
        <h3>Iniciando com Machine Learning</h3>

        <div class="side-to-side">
          <div class="side-right">
            <img src="{{ url }}/img/ml.png" />
          </div>

          <div class="side-left normal-text">
            <p>Aprendizado de Máquina é um campo de estudos da Ciência da Computação para tentar dar a habilidade de aprender para computadores sem serem explicitamentes programados. Exemplos da aplicação do aprendizado de máquina são: tornar jogos inteligentes e fazer previsões, como prever fraudes, previsão de demanda e diagnósticos de saúde.</p>
          </div>
        </div>

        <div class="related-container">
          {% if machineLearningArticles.count() %}
            <h3>Artigos</h3>
          {% endif %}
          <div class="related-list">
            {% for relatedArticle in machineLearningArticles %}
              <a class="article-a" href="{{ url }}/article/{{ relatedArticle.id }}">
                <div class="related-item">
                 <h4>{{ relatedArticle.title }}</h4>
                  <p>{{ relatedArticle.description }}</p>
                  <b>{{ relatedArticle.created_at.day }} de {{ fullMonths[relatedArticle.created_at.month - 1] }} de {{ relatedArticle.created_at.year }}</b>
                </div>
              </a>
            {% endfor %}              
          </div>
      </section>

      <section>
        <h3>Iniciando com Visão Computacional</h3>

        <div class="side-to-side">
          <div class="side-left normal-text">
            <p>Visão Computacional é tentar replicar a visão humana nos computadores. Podemos utilizar redes neurais e deep learning nessa função, para identificar objetos e pessoas. Usos da visão computacional são: carros autônomos, segurança e medicina.</p>
          </div>

          <div class="side-right">
            <img src="https://www.pngkey.com/png/full/876-8762622_our-technology-deep-learning-icon-png.png" />
          </div>          
        </div>

        <div class="related-container">
          {% if computerVisionArticles.count() %}
            <h3>Artigos</h3>
          {% endif %}
          <div class="related-list">
            {% for relatedArticle in computerVisionArticles %}
              <a class="article-a" href="{{ url }}/article/{{ relatedArticle.id }}">
                <div class="related-item">
                 <h4>{{ relatedArticle.title }}</h4>
                  <p>{{ relatedArticle.description }}</p>
                  <b>{{ relatedArticle.created_at.day }} de {{ fullMonths[relatedArticle.created_at.month - 1] }} de {{ relatedArticle.created_at.year }}</b>
                </div>
              </a>
            {% endfor %}              
          </div>
      </section>

      <section>
        <h3>Tópicos</h3>
      
        <div class="table">
            {% for tag in tags %}
            <a class="table-a" href="{{ url }}/list/tag/{{ tag.id }}"><div class="table-item">{{ tag.name }}</div></a>
            {% endfor %}                   
        </div>
      </section>
      </div>
    </main>
  </body>
</html>