<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DeepLab - Registro de Contas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url }}/css/styles.css">
    <link rel="stylesheet" href="{{ url }}/css/article.css">
    <link rel="stylesheet" href="{{ url }}/css/admin-styles.css">
    <link rel="stylesheet" href="{{ url }}/css/new-article.css">
    <link rel="stylesheet" href="{{ url }}/css/register-author.css">
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">
 
    <meta itemprop="name" content="DeepLab - Grupo de Estudos">
    <meta name="description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta name="language" content="PT">
    <meta name="author" content="Yuri Faria, yuri.yurifaria@gmail.com">
    <meta name="url" content="https://windows87.github.io/deeplab/"> 

    <meta property="og:title" content="DeepLab - Grupo de Estudos"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://windows87.github.io/deeplab/"/>
    <meta property="og:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional"/>
    <meta property="og:email" content="yuri.yurifaria@gmail.com"/>
    <meta property="og:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />

    <meta property="twitter:image" content="https://www.pngkey.com/png/full/96-967577_ai-artificial-intelligence-transparent-background.png" />
    <meta property="twitter:title" content="DeepLab - Grupo de Estudos" />
    <meta property="twitter:description" content="Grupo de Estudos sobre Inteligência Artificial, Deep Learning e Visão Computacional" />
    <meta name="theme-color" content="#ffffff"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143577501-1"></script>
    <!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143577501-1');
    </script>
    -->    
  </head>

  <body>
    <header>
      <div id="header">
        <h1>DeepLab</h1>
        <nav>
          <ul>
            <li><a href="{{ url }}">Início</a></li>     
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div id="main">
      <form>
         <input type="text" name="name" placeholder="Nome" required />
         <input type="text" name="image" placeholder="URL da Imagem" required />
         <input type="text" name="description" placeholder="Descrição" required />
         <input type="text" name="username" placeholder="Usuário" required />
         <input type="password" name="password" placeholder="Senha" required />
         <input type="text" name="secretcode" placeholder="Código Secreto" required />
         
         {% for socialnetwork in socialnetworks %}
           <div class="socialnetwork-container">
             <img src="{{ url }}/img/icons/{{ socialnetwork.icon }}">
             <input type="text" social-network="{{ socialnetwork.id }}" placeholder="Link" />
           </div>
         {% endfor %}

         <input type="submit" name="submit" value="Criar" />
      </form>
      </div>
    </main>

    <script src="{{ url }}/js/crud.js"></script>
    <script src="{{ url }}/js/error-list.js"></script>
    <script src="{{ url }}/js/register-author.js"></script>
  </body>
</html>